<div class="grid grid-center margin-4/1-top">
  <div class="grid-item 7/12">
    <ul class="list-inline text-center margin-bottom">
      <li>
        <%= image_tag "img-bart.png", class: "img-circle block margin-1/2-bottom" %>
        <small class="text-muted">Bart</small>
      </li>

      <li>
        <%= image_tag "img-mac.png", class: "img-circle block margin-1/2-bottom" %>
        <small class="text-muted">Mac</small>
      </li>
    </ul>

    <p>
      Do you have any problem or request? Feel free to contact us on
      <a href="//twitter.com/_bkzl">@_bkzl</a>, <a href="//twitter.com/_mac">@_mac</a> or <a href="mailto:hello@jottings.com">send us an email</a>.
    </p>

    <p>
      <a href="https://medium.com/lost-bananas/">Read our blog</a>.
    </p>

    <p>
      <a href="http://lostbananas.com/">See our other projects</a>.
    </p>
  </div>
</div>
