<div class="text-center">
  <h1 class="margin-3/1-top margin-2/1-bottom text-light">
    Real-time collaboration in Markdown
  </h1>

  <%= video_tag "intro.mp4", poster: "img-intro-poster.png",
    autoplay: true, loop: true, class: "video" %>

  <div class="box box-brand full-width">
    <%= link_to "Start writing right now", sign_up_path, class: "btn btn-outline btn-white" %>
  </div>

  <h2 class="h3">Key features</h2>

  <div class="grid grid-center margin-2/1-bottom">
    <div class="grid-item 1/2">
      <ul class="list-reset">
        <li class="margin-bottom">Auto formatting Markdown</li>
        <li class="margin-bottom">Full-screen mode</li>
        <li>Grouping documents</li>
      </ul>
    </div>

    <div class="grid-item 1/2">
      <ul class="list-reset">
        <li class="margin-bottom">Real-time syncing</li>
        <li class="margin-bottom">Autosave</li>
        <li>Bookmarks</li>
      </ul>
    </div>
  </div>
</div>
