<div class="grid grid-center margin-4/1-top">
  <div class="grid-item 7/12">
    <p class="text-center text-lead">
      Jottings is free to use during the beta.
    </p>

    <p>
      We appriciate any feedback. You can vote below which features you miss
      the most:
    </p>

    <%= form_for Feedback.new, url: feedback_path, html: { class: "form-stacked form-poll" } do |form| %>
      <%= render "static_pages/feedback_form_fields", form: form %>

      <div class="grid grid-center">
        <div class="media media-middle">
          <%= form.submit "Send feedback" %>
          <div class="media-body text-muted text-small">
            Thank you!
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
