<div class="grid grid-center margin-3/1-top">
  <div class="grid-item 7/12">
    <p class="text-center text-lead">
      Jottings is free to use during the Beta.
    </p>

    <%= render "feedback" %>
  </div>
</div>
