<p>
  Hello,
</p>

<p>
  <%= @collaboration.stack.owner %> invited you to work on Markdown documents.
</p>

<p class="text-center padding-vertical">
  <%= link_to %(Join and start writing), sign_up_url(invite: @collaboration.invite_email), class:"btn" %>
</p>
