<p>
  Someone, hopefully you, requested we send you a link to change your password:
</p>

<p>
  <%= link_to "Change my password",
    edit_user_password_url(@user, token: @user.confirmation_token.html_safe) %>
</p>

<p>
  If you didn't request this, ignore this email. Your password has not been changed.
</p>
