<div class="grid">
  <div class="grid-item 3/4">
    <h2>
      Trash

      <% if @removed_items_count > 0 %>
        <%= link_to "Empty", editor_trash_path, method: :delete, class: "text-negative text-small" %>
      <% end %>
    </h2>

    <% if @removed_items_count > 0 %>
      <ul class="list-reset">
        <% @stacks.each do |stack| %>
          <li class="margin-bottom">
            <%= render "editor/stacks/trash_item", stack: stack %>
          </li>
        <% end %>

        <% @documents.each do |document| %>
          <li class="margin-bottom">
            <%= render "editor/documents/trash_item", document: document %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="trash-empty">
        No files
      </div>
    <% end %>
  </div>
</div>
