<div class="grid grid-pair grid-middle">
  <div class="grid-item 5/6">
    <%= link_to editor_document_path(document), is: "sidebar-item-document-trigger" do %>
      <%= document %>
      <% if document.has_shared_stack? %>
        <%= image_tag "icn-collaboration" %>
      <% end %>
    <% end %>
  </div>

  <div class="grid-item 1/6">
    <%= render "editor/documents/dropdown", document: document %>
  </div>
</div>
