<% sidebar_icon = (type == :bookmark ? "bookmark" : "document-text") %>

<div class="grid grid-pair">
  <div class="grid-item 5/6">
    <%= link_to editor_document_path(document) do %>
      <%= document %>
      <% if document.has_collaborators? %>
        <%= icon_tag "person-stalker" %>
      <% end %>
    <% end %>
  </div>

  <div class="grid-item 1/6">
    <%= render "editor/documents/dropdown", document: document %>
  </div>
</div>
