<div class="grid grid-middle grid-pair">
  <div class="grid-item 1/2">
    <%= document %>
  </div>

  <div class="grid-item 1/2">
    <ul class="list-divided">
      <li>
        <%= link_to "Restore", "#" %>
      </li>

      <li>
        <%= link_to "Delete Forever", "#", class: "text-negative" %>
      </li>
    </ul>
  </div>
</div>
