<div class="grid grid-pair">
  <div class="grid-item 4/5 editor-text-editor">
    <text-editor placeholder="Click and start writing Markdown here..."
      document="<%= @document.to_param %>"
      shared="<%= @document.has_shared_stack? %>">
  </div>

  <div class="grid-item 1/5 editor-collaborators">
    <% if @document.has_shared_stack? %>
      <ul class="list-reset no-margin-bottom">
        <% @document.collaborators.each do |collaborator| %>
          <li class="margin-1/2-bottom">
            <%= gravatar_tag collaborator.email, size: 40 %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <fullscreen-toggle>
      <i class="ion-easel"></i>
    </fullscreen-toggle>
  </div>
</div>
