<div class="grid">
  <div class="grid-item 3/4">
    <editor placeholder="Start writing here..."
      document="<%= @document.to_param %>"
      shared="<%= @document.has_collaborators? %>">
  </div>

  <% if @document.has_collaborators? %>
    <div class="grid-item 1/4">
      <ul class="list-reset margin-bottom">
        <% @document.collaborators.each do |collaborator| %>
          <li class="margin-1/2-bottom">
            <%= gravatar_tag collaborator.email, size: 40 %>
          </li>
        <% end %>
      </ul>
      <% if @changeset.present? %>
        <ul class="editor-changeset">
          <% @changeset.each do |diff| %>
            <li>Edited by <%= diff.author %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
