<h2>
  Reset your password
</h2>

<p>
  To be emailed a link to reset your password, please enter your email address.
</p>

<%= form_for :password, url: passwords_path, html: { class: "form-inline" } do |form| %>
  <%= form.label :email, "Email address:" %>
  <%= form.text_field :email, type: "email" %>

  <%= form.submit "Reset password" %>
<% end %>
