.box-empty {
  padding: $spacing-unit ($spacing-unit / 2);
  border: 1px dashed rgba($color-muted, .5);
  color: rgba($color-muted, .5);
  text-align: center;
}

.box-brand {
  margin-bottom: $spacing-unit * 2;
  padding: $spacing-unit;
  background-color: $color-brand;
  color: $color-white;

  .btn {
    font-size: $font-size-h4;
    font-weight: $font-weight-light;
  }
}
