.dropzone {
  min-height: $spacing-unit;

  &.is-droppable {
    background-color: darken($editor-sidebar-color, 10%);
  }
}

.dropzone-empty {
  margin-bottom: $spacing-unit;
  padding: $spacing-unit / 2;
  border: 1px dashed $color-white;
  text-align: center;
  opacity: .5;
}
