.editor {
  margin-right: 0;
  margin-left: 0;
}

.editor-sidebar,
.editor-content {
  padding: $spacing-unit;
}

.editor-sidebar {
  background-color: $color-editor-sidebar;

  a {
    color: $color-white;
  }
}

.editor-footer {
  padding: $spacing-unit / 2;
  background-color: darken($color-editor-sidebar, 10%);
  color: $color-white;
  font-size: $font-size-small;
  text-align: center;
}
