.editor {
  margin-right: 0;
  margin-left: 0;
}

.editor-sidebar,
.editor-content {
  padding: $spacing-unit;
}

.editor-sidebar {
  background-color: $color-primary;

  a {
    display: inline-block;
    color: $color-white;
  }
}
