.editor {
  margin-right: 0;
  margin-left: 0;
}

.editor-sidebar,
.editor-content {
  padding: $spacing-unit;
}

.editor-sidebar {
  background-color: $color-primary;
  color: $color-white;

  a {
    display: inline-block;
    color: $color-white;
  }

  [class^="ion-"] {
    font-size: $font-size-h3;
  }

  [class^="ion-gear-b"] {
    font-size: $font-size-h4;
  }

  [class^="ion-person-stalker"] {
    margin-left: $spacing-unit / 4;
    font-size: $font-size-base;
    opacity: .5;
  }
}

.editor-changeset {
  @extend %list-reset;
  color: $color-muted;
  font-size: $font-size-small;

  li + li {
    margin-top: $spacing-unit;
  }
}
