::placeholder {
  color: $color-grey;
}

.btn-reset[type="submit"] {
  margin-left: $spacing-unit / 4;
  padding: 0;
  border: 0;
  box-shadow: 0;

  &:hover {
    background-color: transparent;
  }
}
