.fullscreen {
  .editor-sidebar {
    display: none;
  }

  .editor-content {
    margin-left: $editor-sidebar-width;
  }
}

.fullscreen-toggle {
  display: inline-block;
  margin-right: 10px;
  color: $editor-sidebar-color;
  font-size: $font-size-h5;
  cursor: pointer;
  opacity: .2;
  transition: opacity $ui-transition-duration;

  &:hover {
    opacity: .8;
  }
}
