.fullscreen {
  .editor-sidebar {
    display: none;
  }

  .editor-content {
    margin-left: $editor-sidebar-width;
  }
}

.fullscreen-toggle {
  position: absolute;
  left: $editor-sidebar-width;
  padding: $spacing-unit / 2;
  transform: translate(-100%);
  color: $color-white;
  font-size: $font-size-h4;
  cursor: pointer;
  opacity: .3;

  .fullscreen & {
    color: $color-text;
  }
}
