$el-dropdown-toggle-active: '> .grid:hover > .grid-item > .dropdown > .dropdown-toggle';

%sidebar-item {
  .dropdown-toggle {
    visibility: hidden;
  }

  #{$el-dropdown-toggle-active} {
    visibility: visible;
  }
}

.sidebar-item-stack {
  @extend %sidebar-item;

  > .grid > .grid-item > .media {
    cursor: pointer;
  }

  .sidebar-icon-stack-icon-active {
    display: none;
  }

  &.is-open {
    .sidebar-icon-stack-icon {
      display: none;
    }

    .sidebar-icon-stack-icon-active {
      display: inline;
    }
  }
}

.sidebar-item-document {
  @extend %sidebar-item;

  .sidebar-item-stack + & {
    margin-top: $spacing-unit / 4;
  }

  & + & {
    margin-top: $spacing-unit / 2;
  }

  &.is-dragging {
    opacity: .8;
    z-index: $z-index-dragged;

    .dropdown,
    #{$el-dropdown-toggle-active} {
      visibility: hidden;
    }
  }
}
