%sidebar-item {
  .dropdown-toggle {
    visibility: hidden;
  }

  > .grid:hover > .grid-item > .dropdown > .dropdown-toggle {
    visibility: visible;
  }
}

.sidebar-item-stack {
  @extend %sidebar-item;

  > .grid > .grid-item > .media {
    cursor: pointer;
  }

  .sidebar-icon-stack-icon-active {
    display: none;
  }

  &.is-active {
    .sidebar-icon-stack-icon {
      display: none;
    }

    .sidebar-icon-stack-icon-active {
      display: inline;
    }
  }
}

.sidebar-item-document {
  @extend %sidebar-item;
}
