$el-dropdown-toggle-active: '> .grid:hover > .grid-item > .dropdown > .dropdown-toggle';
$sidebar-item-height: $spacing-unit * 1.4;

%sidebar-item {
  .dropdown-toggle {
    visibility: hidden;
  }

  #{$el-dropdown-toggle-active} {
    visibility: visible;
  }
}

.sidebar-item-stack {
  @extend %sidebar-item;

  > .grid {
    height: $sidebar-item-height;
  }

  > .grid > .grid-item > .media {
    cursor: pointer;
  }
}

.sidebar-item-stack-trigger-icon {
  display: inline-block;
  transition: transform $ui-transition-duration;

  &.is-active {
    transform: rotate(90deg);
  }
}

.sidebar-item-document {
  @extend %sidebar-item;

  > .grid {
    height: $sidebar-item-height;
  }

  &.is-dragging {
    opacity: .8;
    z-index: $z-index-dragged;

    .dropdown,
    #{$el-dropdown-toggle-active} {
      visibility: hidden;
    }
  }
}
