.has-tooltip {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  padding: $spacing-unit / 3;
  transform: translate(-50%, -115%);
  border-radius: $ui-border-radius;
  background-color: $editor-sidebar-color;
  color: $color-body;
  font-size: $font-size-micro;
  text-align: center;

  &::after {
    position: absolute;
    bottom: -($ui-arrow-size - 1px);
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-width: $ui-arrow-size $ui-arrow-size 0;
    border-style: solid;
    border-color: $editor-sidebar-color transparent transparent;
    content: '';
  }

  p {
    margin-bottom: 0;
  }
}
