@mixin transition($name) {
  .transition-#{$name}-leave-active,
  .transition-#{$name}-enter-active {
    transition: all $ui-transition-duration;
  }

  .transition-#{$name}-leave-active,
  .transition-#{$name}-enter {
    @content;
  }
}

@include transition('fade') {
  opacity: 0;
}

@include transition('zoom-in') {
  transform: scale(.8);
  opacity: 0;
}

@include transition('slide-down') {
  transform: translateY(-10%);
  opacity: 0;
}

@include transition('sidebar-item-stack') {
  transform: translateY(-$spacing-unit);
  opacity: 0;
}

@include transition('tooltip') {
  transform: translate(-50%, -105%) !important;
  opacity: 0;
}
