//= require hocus-pocus
//= require ionicons
//= require codemirror
//= require_self

$font-weight-headings: 200;

$color-body: #fff;
$color-ui: #f4f4f4;
$color-text-selected: #b4d8fe;

$color-brand: #4990e2;
$color-link: $color-brand;
$color-btn: $color-brand;

$font-family-base: "Open Sans", sans-serif;
$font-family-editor: "Gentium Basic", serif;
$font-family-monospace: "Inconsolata", monospace;

$font-size-editor: 1.2rem;

$editor-sidebar-color: #282c34;
$editor-sidebar-width: 17rem;
$editor-sidebar-font-size: .9rem;

$link-underline: false;

$z-index-markdown-editor: 1;
$z-index-flash: 2;
$z-index-dragged: 2;
$z-index-dropdown: 3;
$z-index-modal-backdrop: 4;
$z-index-modal: 5;

$ui-arrow-size: 7px;
$ui-transition-duration: .2s;

@import 'hocus-pocus/hocus-pocus',
        'ionicons/ionicons',
        'navbar',
        'editor',
        'flash',
        'dismiss',
        'transition',
        'dropdown',
        'form',
        'turbolinks',
        'modal',
        'markdown_editor',
        'sidebar_item',
        'dropzone',
        'tooltip',
        'box',
        'fullscreen',
        'full-width',
        'footer',
        'container';

@include btn('white', $color-white);
