// require hocus-pocus
// require_self

$font-weight-headings: 100;

$color-primary: #0881a3;
$color-secondary: #f35b25;
$color-body: #fdfcfc;
$color-ui: #e8e2e2;

$color-btn: $color-primary;
$color-link: $color-primary;

$color-editor-sidebar: $color-primary;

@import 'hocus-pocus/hocus-pocus';
@import 'navbar';
@import 'editor';
