//= require hocus-pocus
//= require ionicons
//= require codemirror
//= require_self

$font-weight-headings: 100;

$color-primary: #d31b33;
$color-secondary: #fdf06f;
$color-body: #fff;

$color-brand: $color-primary;
$color-btn: $color-primary;
$color-link: $color-primary;

$color-editor-sidebar: $color-secondary;

$link-underline: false;

$z-index-dropdown: 1;

@import 'hocus-pocus/hocus-pocus',
        'ionicons/ionicons',
        'navbar',
        'editor',
        'flash',
        'dismiss',
        'transition',
        'dropdown',
        'form',
        'turbolinks';
