$tooltip-arrow-size: 7px;

.has-tooltip {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  padding: $spacing-unit / 3;
  transform: translate(-50%, -115%);
  border-radius: $ui-border-radius;
  background-color: $color-primary;
  color: $color-body;
  font-size: $font-size-micro;
  text-align: center;

  &::after {
    position: absolute;
    bottom: -($tooltip-arrow-size - 1);
    width: 0;
    height: 0;
    transform: translateX(-50%);
    content: '';
    border-style: solid;
    border-width: $tooltip-arrow-size $tooltip-arrow-size 0;
    border-color: $color-primary transparent transparent;
  }

  p {
    margin-bottom: 0;
  }
}
