<% content_for :content do %>
  <div class="grid grid-center">
    <div class="grid-item 1/2 compact-1/1">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/static_page" %>
