<% content_for :application do %>
  <div class="sticky-footer">
    <div class="grid editor">
      <div class="grid-item 1/5 editor-sidebar">
        <%= render "sidebar" %>
      </div>

      <div class="grid-item 3/5 editor-content">
        <%= yield %>
      </div>

      <div class="grid-item 1/5 text-right">
        <%= render "navbar_menu" %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
