<% content_for :application do %>
  <div class="sticky-footer">
    <div class="grid editor">
      <div class="grid-item 1/5 editor-sidebar">
        <%= render "sidebar" %>
      </div>

      <div class="grid-item 4/5 editor-content">
        <div class="text-right">
          <%= render "navbar_menu" %>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
